- name: Download repo file
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/rhel/docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo

- name: Install Docker
  ansible.builtin.dnf:
    name: docker-ce
    state: installed

- name: Start Docker
  ansible.builtin.systemd_service:
    name: docker
    state: started
    enabled: yes

- name: Install the latest version
  ansible.builtin.dnf:
    name: libicu
    state: latest

- name: Log into DockerHub using a Personal Access Token
  collections:
    - community.docker
  community.docker.docker_login:
    username: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-infra/data/github:docker_user token={{ token }} url=http://vault-int.azdevopsb1.online:8200') }}"
    password: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-infra/data/github:docker_pat token={{ token }} url=http://vault-int.azdevopsb1.online:8200') }}"
    # registry_url: docker.io # Defaults to docker.io if not specified
    reauthorize: true # Forces re-authorization


